<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
<script>
    // Get the index url by supplying the name of the function for the route (index())
    const base_url = {{ request.script_root|tojson }}
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>